# Auxillary files
*.aux

# Bibliographies
*-blx.bib
*.bbl
*.blg

# Bookmarks
*.out

# Dependencies
*.d

# Glossaries, acronyms and indexes
*.acn
*.glg
*.glo
*.gls*
*.idx
*.ilg
*.ind
*.ist
*.xdy

# List of algorithms, figures, tables
*.loa
*.lof
*.lot

# List of used files
*.fls

# Log files
*.log

# Outputs
thesis.pdf

# Table of contents
*.toc

# Other
*.cookie
*.make
*.run.xml
*.temp

# Project specific
appendix/c.tex
appendix/c.tex.bash.cookie
appendix/matlab.tex
appendix/matlab.tex.bash.cookie
chapter01/schedule.tex
chapter01/schedule.tex.pl.cookie
chapter04/plots/distance_calls.tex
chapter04/plots/distance_calls.tex.bash.cookie
chapter04/plots/function_execution_time.tex
chapter04/plots/function_execution_time.tex.bash.cookie
chapter04/plots/function_run_time_complexity.tex
chapter04/plots/function_run_time_complexity.tex.bash.cookie
chapter04/plots/total_execution_time.tex
chapter04/plots/total_execution_time.tex.bash.cookie
chapter04/plots/total_run_time_complexity.tex
chapter04/plots/total_run_time_complexity.tex.bash.cookie
chapter04/plots/vectors_pruned.tex
chapter04/plots/vectors_pruned.tex.bash.cookie
